<li>
  <%= link_to comment.commenter.email, user_path(comment.commenter) %>

  commented: <br>
  <%= comment.body %>
  <% if comment.commenter == current_user %> 
  <br>
  <%= button_to 'Delete comment', comment_path(comment), method: :delete, data: { turbo_confirm: "Are you sure?" }  %> 
  <% end %>
</li>
<br>