<div>
  <details>
    <summary>[Notifications <%= @current_user_notifications.count { |_body, read| !read } %>]</summary>
    <% @current_user_notifications.each do |body, read| %>
      <div>
        <%= tag.strong 'Unread!' unless read %>
        <%= body %>
      </div>
    <% end %>
  </details>
</div>