<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  Notifications<span class="ms-1 badge bg-primary"><%= @current_user_unread_notifications_count %></span>
</a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <% @current_user_notifications.each do |notification| %>
        <li>
          <a class="dropdown-item <%= 'bg-success text-light' unless notification.read %>" href="<%= notification.link %>">
            <%= notification.body %>
          </a>
        </li>
    <% end %>
  </ul>