<div>
  <details>
    <summary>[Notifications <%= @current_user_unread_notifications_count %>]</summary>
    <% @current_user_notifications.each do |notification| %>
      <div>
        <%# TODO: better text schema %>
        New <%= notification.action %>
        <%= notification.action =~ /Request/ ? 'from' : '' %> <%= notification.actor.email %>
      </div>
    <% end %>
  </details>
</div>