<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center">
        <h1 class="display-4 fw-bold lh-1 mb-3">The Odin Project Facebook Clone</h1>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <div class="p-4 p-md-5 border rounded-3 bg-light" data-turbo="false">
          <h2 class="text-center">Sign in</h2>
          <%= render "devise/sessions/form" %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
