<div class="card my-2 border-top-0">
  <div class="card-body">
    <h5 class="card-title">What are you thinking? <span class="card-subtitle mb-2 text-muted">Create a New Post</span></h5>
    
    <%= render 'form', post: @post %>
  </div>
</div>

<h1 class="text-center">Recent posts</h1>
<% if @posts.empty?%>
  <p class="text-muted fst-italic text-center">This user doesn't have posts yet.</p>
<% else %>
  <div>
    <!-- Using Turbo Frames for posts pagination -->
    <%= turbo_frame_tag "recent-posts", autoscroll: "true" do %>
      <div class="sticky-top"><%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo-action="advance"' ) %></div>
      <%= render @posts %>
    <% end %>
  </div>
<% end %>